
<br>
<%= render 'shared/errors', obj: @question %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header"><%= type %> Question</div>
            <%= form_for(obj) do |f| %>
                <li class="list-group-item">
                <div class="form-group">
                	<br><br>
                    <%= f.label :Subject %><br>
                    <%= f.text_field :subject %><br>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                   <%= f.label :AskQuestion %><br>
                   <%= f.text_area :description %><br>
                 </div>
             </li>
             
             
             <li class="list-group-item">
                <div class="form-group">
                   <%= f.label :tags %><br>
             <input type="text" name="tags" placeholder="Tags" class="tm-input"/><br>
                 </div>
             </li>
             

             <script type="text/javascript">
                 $(".tm-input").tagsManager();
             </script>



             <li class="list-group-item">
                <%= f.submit("#{type} Question", class:'btn btn-primary input-medium pull-right') %>
            </li>
                </div>
            <% end %>
        </div>
	</div>
</div>