<% obj.each do |question| %>
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <span class="row">
              <span class="text-center">
                <%= link_to like_question_path(question),class:"like",method: :put do %>
               <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
               <% end %>
                <h3><%= question.up_vote_count %></h3>
              </span>

               <span class="text-center" style="padding-left: 13px;">
                 <%= link_to unlike_question_path(question),class:"like",method: :put do %>
               <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
               <% end %>
                <h3><%= question.down_vote_count %></h3>
              </span>
            </span>
            <span>
             <%= link_to question.subject, question_path(question), class:'text-gray-dark' %>
             <br>
             <span>
              <%
              question.question_tags.each do |question_tag|
              %>
              <span class="badge badge-dark"><%= question_tag.tag.name %></span>
              <% end %>
            </span>
              </span>
              <span>

              <% if question.status_code_id ==3 %>
              <span class="badge badge-warning">Question Closed</span>
              <% elsif question.status_code_id ==2 %>
              <span class="badge badge-success">Answer Accepted</span>
              <% end %>

              <% if(current_user == question.user) && question.status_code_id !=3 %>
              <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-info' %>
              <%= link_to 'Delete', question_path(question),method: :delete, data:{confirm:'Are you sure?'}, class: 'btn btn-danger' %>
              <%= link_to 'Close', close_question_path(question),method: :put, data:{confirm:'Are you sure?'}, class: 'btn btn-danger' %>
              <% end %>
            </span>

            </div>
          </div>
        </div>
        <% end %>
