<br>
<div class="container">
  <div class="card">
    <div class="card-header"><%= @question.subject %></div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @question.description %>
    	<div class="text-right">
    	<%= link_to  "Click here to answer",new_question_answer_path(@question), class: 'btn btn-primary' %>
    </div>
    </li>
  </ul>
  </div>
  <br>
  <div class="card">
  	<div class="card-header">
  <%= @answers.count %> Answers</div>
    <ul class="list-group list-group-flush">
    	<% @answers.each do |answer| %>
    <li class="list-group-item"><%= answer.description %>
      <div class="text-right">
      <%= link_to  "Edit this",edit_question_answer_path(@question,answer), class: 'btn btn-primary' %>
    </div>
    </li>
    	<% end %>
  </ul>
  </div>
</div>

