<br>
<%= render 'shared/errors', obj: @user_team %> 
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">Team Details</div>
        
        <div class="text-center">
          <%= link_to "Click here if your team isn't listed",new_team_path, class: 'btn btn-primary' %>
        </div>
                <%= 
                form_for(obj, url: actionpath,method: method, :html=>{class: "form-horizontal",role: "form"}) do |f| %>
                <li class="list-group-item">
    <table class="table table-bordered">
     <thead>
      <tr>
        <th>Team Name</th>
        <th>Choice</th>
      </tr>
     </thead>
     <tbody>
        <% teams.each do |team| 
          @access=current_user.user_teams.where(team_id: team.id).any?
          %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= check_box_tag('user_teams[]',value = team.id, checked = @access) %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
            </li>

             <li class="list-group-item">
                <%= f.submit("#{type} Team Details", class:'btn btn-primary input-medium pull-right') %>
            </li>
                </div>
        </div>
            <% end %>
    </div></div>
        </div>
	</div>
</div>