<!DOCTYPE html>
<html>
  <head>
    <title>TeamStackoverflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <main role="main">
   <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= debug(params) %>
  </main>

  </body>
</html>
